{% load static %}
<!DOCTYPE html>


<html>

<head>
    <meta charset="utf-8">
    <title>Login sistema</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/d5e638ad62a611f703a8e0e951853da0?family=Herculanum" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

</html>

<body>
    <div class="header">
        <a href="/dobradores/listar"><p class="title-header">DOBRADORES</p></a>
        <a href="{% url 'dobradores:novo' %}"><p class="item-header">Novo</p></a>
        <a href="{% url 'autenticacao:logout' %}"><p class="item-header">Sair</p></a>
    </div>
    {% block content %}
    {% endblock content %}

</body>