* {
  --ar: #bc4328;
  --agua: #303358;
  --terra:#1a3a1e;
  --fogo: #550b02;
  --nick: #F66300;
  --branco: #fafafa;
  --preto: #333333;

  --fontcolor: color: rgba(136, 136, 136, 0);
}

html,
body {
  height: 100%;
  
}

.body {
  
  background-color: var(--branco);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Herculanum, "Eras Demi ITC", sans-serif;
  
}

/* ------ Styles de listar ------ */

.grid-dobradores{
  background-color: blue;
}
.card-dobradores{
  background-color: black;
  width: 200px;
  height: 500px;
}

/* ------ Styles de listar ------ */


/* ------ Styles do login ------ */
.title-login{
  color: var(--preto);
}

.card-login{
  border-radius: 40px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: 200;
  font-size: 20px;
  color: var(--black);
}

.form-div-login{
  display: flex;
  flex-direction: column;
}
/* ------ Styles do login ------ */

.my-btn {
  border-radius: 4px;
  height: 2rem;
  width: 5rem;
  background-color: var(--color3);
  color: white;
  margin-top: 15px;
  left: 100px;
  border: 0;
  outline: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  align-self: flex-end;
  border: none;
  outline: none;
}

.my-btn:active {
  outline: 0;
  border: 0;
}

.my-btn::after {
  content: "";
  border-radius: 10px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  outline: none;
  border: none;
}

.my-btn:hover {
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
  outline: none;
  border: none;
}

.my-btn:hover::after {
  opacity: 1;
  outline: none;
  border: none;
}

.my-btn:active {
  opacity: 0.8;
  border: none;
  outline: none;
}

input[type="button"] {
  outline: none;
  border: none;
}
input[type="button"]::-moz-focus-inner {
  border: 0;
  border: none;
}



